[submodule ".registry"]
	path = .registry
	url = https://github.com/distancedevelopment/universe
	shallow = true
	branch = HEAD
[submodule "readdst"]
	path = readdst
	url = https://github.com/distanceDevelopment/readdst/
	shallow = true
	registered = true
