[submodule ".registry"]
	path = .registry
	url = https://github.com/distancedevelopment/universe
	branch = HEAD
[submodule "mrds"]
	path = mrds
	url = https://github.com/distanceDevelopment/mrds
[submodule "Distance"]
	path = Distance
	url = https://github.com/distanceDevelopment/Distance
[submodule "dsm"]
	path = dsm
	url = https://github.com/distanceDevelopment/dsm
[submodule "DSsim"]
	path = DSsim
	url = https://github.com/distanceDevelopment/DSsim
	subdir = DSsim
[submodule "dssd"]
	path = dssd
	url = https://github.com/distanceDevelopment/dssd
[submodule "dsims"]
	path = dsims
	url = https://github.com/distanceDevelopment/dsims
[submodule "mads"]
	path = mads
	url = https://github.com/distanceDevelopment/mads
	subdir = mads
[submodule "readdst"]
	path = readdst
	url = https://github.com/distanceDevelopment/readdst
